h1 {
        color:red;
}
p  {
        background-color: white;
}
img {
    max-width: 30%;

}

.columm {
  display: inline-block;
  width: 48%;
}
.col1 {
  background-color: green;
}
.col2 {
  border: 5px solid black;
}
.col1 h1 {
  color: white;
}

@media screen and (max-width; 767px) {
  .columm {
        display: block;
        width: 100%;
  }
}