h2 {
        color:black;
}
h3 {
        color: black;
}
p  {
        background-color: white;
}
img {
    max-width: 30%;

}

.columm {
  display: inline-block;
  width: 48%;
}
.col-70{
  width: 48%;
}
.col-30{
  width: 69%;
}
.col1 {
  background-color: white;
}
.col2 {
  border: 2px solid white;
}
.col1 h1 {
  color: black;
}
.nav-items li , .inline-block{
  display: inline-block;
}
.nav-items {
  display: flex;
  justify-content: space-around;
}
.nav-items li:hover {
  background-color: yellow;
}






@media screen and (max-width; 767px) {
  .columm {
        display: block;
        width: 30%;
  }
}
/* From uiverse.io by @Voxybuns */
button {
  /* Variables */
 --button_radius: 0.75em;
 --button_color: #e8e8e8;
 --button_outline_color: red;
 font-size: 17px;
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
 background: var(--button_outline_color);
}

.button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.2em);
 transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
 transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
 transform: translateY(0);
}